
.detailIntr{
    width: auto;
    height: 480px;
    border-bottom: 6px solid #d16b55;
    background-image:url(../img/wenli2.png);}

.detailIntr a{
    text-decoration: none;
}

.dei_character{
    width:1200px;
    height:260px;
    margin: 0 auto;
    margin-top: 20px;
}

.dei_character h1{
    width:1100px;
    height:70px;
    margin: 0 auto;
    /*font-family:'sans-serif';*/
    font-size: 40px;
    color: #65625f;
    text-align: center;
}

.dei_character h3{
    /*text-align: center;*/
    width:1000px;
    height:80px;
    margin: 0 auto;
    margin-top: 3px;
    /*text-align: center;*/
    font-family:'microsoft yahei';
    color: #8f8d8a;
    font-size: 22px;
    font-style: inherit;
}
.dei_character p{
    line-height: 28px;
    /*font-family: 'Simhei';*/
    font-size: 18px;
    color: #706c69;
    width:1000px;
    margin: 0 auto;
    margin-top: 30px;
}
.dei_character p .chr_weight {
    font-size: 22px;
    color: #6d6966;
}

.detailIntr .href_blog{

    width: 180px;
    height: 50px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #e6795c;
    border-radius: 2px;
}

.detailIntr .href_blog:hover{
    background-color: #d16b55;
}

.detailIntr .href_blog p{
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 46px;
    color: #ffffff;
    font-family: 'kaiti';
    font-size: 22px;
}